*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}
.rojo{ 
    background-color: red;
    margin: 60px 60px;
    width: 100px;
    height: 100px;
    position:static;
    z-index:2;
	display: inline-block;
}
.rojo p{
    color: rgb(255, 255, 0);
    text-align: center;
}
.negro{
    background-color: black;
    margin: 60px 60px;
    width: 100px;
    height: 100px;
    position:static;
    z-index:2;
	display: inline-block;
}
.negro p{
    color: rgb(255, 255, 255);
    text-align: center;
}